<div
  [class.hidden]="!isModalOpen"
  id="route-modal"
  class="absolute top-0 left-0 w-screen h-screen flex justify-center items-center bg-black bg-opacity-50 z-10"
>
  <!-- Modal Window -->
  <div class="w-4/5 h-3/5 p-5 bg-slate-200 rounded-md shadow-lg">
    <h2 class="text-2xl text-center mb-6">
      Routes for {{ busService.selectedBusName }}
    </h2>

    <div class="h-3/4 flex justify-center flex-col overflow-y-auto">
      <button
        class="h-1/6 my-2 rounded-lg bg-blue-400 text-white shadow-lg uppercase active:bg-blue-500"
      >
        test
      </button>
    </div>
  </div>
</div>
