<div
  [class.hidden]="!isModalOpen"
  id="route-modal"
  class="absolute top-0 left-0 w-screen h-screen flex justify-center items-center z-10"
>
  <!-- Modal Backdrop -->
  <div
    class="absolute top-0 left-0 w-screen h-screen bg-black bg-opacity-50"
    (click)="setModalOpen(false)"
  ></div>

  <!-- Modal Window -->
  <div
    class="relative w-4/5 h-4/5 p-5 bg-slate-200 rounded-md shadow-lg select-none"
  >
    <!-- Modal Close Button -->
    <div
      class="absolute top-0 right-0 p-2 z-10 cursor-pointer active:opacity-70"
      (click)="setModalOpen(false)"
    >
      <svg
        class="fill-slate-500"
        width="24"
        height="24"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
      >
        <path
          d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
        />
      </svg>
    </div>

    <!-- Modal Contents -->
    <h1 class="text-2xl text-center mb-6 animate-bounce motion-safe">
      Routes for {{ busService.selectedBusName }}
    </h1>

    <h3
      [class.hidden]="currentMode != 'routeInfo' && currentMode != 'timesInfo'"
      class="text-md text-center mb-6"
    >
      {{ selectedRoute?.RouteDescr }}
    </h3>

    <div
      [class.hidden]="currentMode != 'routeSelect'"
      class="h-3/4 flex justify-center flex-col overflow-y-auto"
    >
      <button
        *ngFor="let route of routes"
        class="h-20 my-2 px-2 rounded-lg bg-blue-400 overflow-hidden text-white shadow-xl active:bg-blue-500 hover:-translate-y-1 transition-all uppercase"
        (click)="onRouteSelect(route)"
      >
        {{ route.RouteDescr }}
      </button>
    </div>

    <!-- Route Stops Data -->
    <div
      [class.hidden]="currentMode != 'routeInfo'"
      class="w-full h-3/6 flex flex-col overflow-y-auto"
    >
      <div *ngFor="let stop of stops" class="py-1">
        {{ stop.StopDescr }}
        <span class="text-sm font-bold"
          >{{ stop.ArrivalTime
          }}<span [class.hidden]="stop.ArrivalTime == '-'">'</span></span
        >
      </div>

      <!-- Loading Spinner -->
      <div [class.hidden]="!isStopsRequestPending">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>

    <!-- Line Times Data -->
    <div
      id="line-times-container"
      [class.hidden]="currentMode != 'timesInfo'"
      class="w-full h-3/6 flex"
    >
      <div class="w-1/2 flex flex-col">
        <h3 class="text-center font-bold">Arrival</h3>
        <div id="arrival-times" class="flex flex-col overflow-y-auto">
          <div *ngFor="let time of arrivalTimes" class="text-center">
            {{ time }}
          </div>
        </div>
      </div>

      <div class="w-1/2 flex flex-col">
        <h3 class="text-center font-bold">Return</h3>
        <div id="return-times" class="flex flex-col overflow-y-auto">
          <div *ngFor="let time of returnTimes" class="text-center">
            {{ time }}
          </div>
        </div>
      </div>

      <!-- Loading Spinner -->
      <div [class.hidden]="!isScheduleRequestPending">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>

    <!-- Line Times Back Button -->
    <div class="w-full mt-auto flex justify-center">
      <button
        [class.hidden]="currentMode != 'timesInfo'"
        class="w-10/12 h-12 my-2 px-2 rounded-lg bg-gray-400 overflow-hidden text-white shadow-xl active:bg-gray-500 hover:-translate-y-1 transition-all uppercase"
        (click)="onTimesBackSelect()"
      >
        ← Back
      </button>
    </div>

    <!-- Line Times Button -->
    <div class="w-full mt-auto flex justify-center">
      <button
        [class.hidden]="currentMode != 'routeInfo'"
        class="w-10/12 h-12 my-2 px-2 rounded-lg bg-blue-400 overflow-hidden text-white shadow-xl active:bg-blue-500 hover:-translate-y-1 transition-all uppercase"
        (click)="onTimesSelect()"
      >
        ARRIVAL / RETURN
      </button>
    </div>

    <!-- OK BUTTON -->
    <div class="w-full mt-auto flex justify-center">
      <button
        [class.hidden]="
          currentMode != 'routeInfo' && currentMode != 'timesInfo'
        "
        class="w-10/12 h-12 my-2 px-2 rounded-lg bg-blue-400 overflow-hidden text-white shadow-xl active:bg-blue-500 hover:-translate-y-1 transition-all uppercase"
        (click)="setModalOpen(false)"
      >
        OK!
      </button>
    </div>
  </div>
</div>
