<div style="width: 100vw; height: 100vh" id="map-container"></div>

<div
  *ngIf="isStopSelected && selectedStopData"
  class="absolute top-0 left-0 w-screen h-screen flex justify-center items-center select-none"
  (click)="closeStopInfoModal()"
>
  <div
    #stopInfoPanel
    id="stop-info-panel"
    class="bg-gray-600 bg-opacity-90 text-white rounded-lg p-4 z-10"
  >
    <h3 class="font-bold text-center animate-pulse motion-safe">
      {{ selectedStopData.stopName }}
    </h3>
    <div *ngFor="let stopData of selectedStopData.stopTimes">
      {{ stopData.busName }} -
      <span class="font-bold">{{ stopData.busTime }}'</span>
    </div>
  </div>
</div>

<!-- User location center -->
<svg
  class="absolute bottom-6 right-3 opacity-30"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 512 512"
  width="76"
  height="76"
  (click)="setCenterLocationToUserMarker()"
>
  <path
    d="M256 0c17.7 0 32 14.3 32 32V66.7C368.4 80.1 431.9 143.6 445.3 224H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H445.3C431.9 368.4 368.4 431.9 288 445.3V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.3C143.6 431.9 80.1 368.4 66.7 288H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H66.7C80.1 143.6 143.6 80.1 224 66.7V32c0-17.7 14.3-32 32-32zM128 256a128 128 0 1 0 256 0 128 128 0 1 0 -256 0zm128-80a80 80 0 1 1 0 160 80 80 0 1 1 0-160z"
  />
</svg>
